@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    var year = DateTime.Today.Year;
    var currentWeek = 37;
    var lastWeek = currentWeek-1;
    var nextWeek = currentWeek+1;
}
@*<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<p>Use this area to provide additional information.</p>
*@


<div class="row header" align="center">
            <div class="num foodName">Aimo</div>
    <div class=num>
        <a href="~/Food?week=@lastWeek&year=@year">&#10134</a>
        Viikko @currentWeek
        <a href="~/Food?week=@nextWeek&year=@year">&#10133;</a>
    </div>

    <div class="num">
        Vuosi: @year
    </div>
</div>

@* For every weekday do this *@
<div class="row card">
    <h2>Weekday</h2>
    @* For every food type *@
    Ruoka: type
    <br>
    hinta: hinta
    <br>
    Ainekset :
    <br><br>
</div>