@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>
    body {
    margin-top: 1.5%;
    }
      button {
      background-color: #eee;
      color: black;
      height: 45vh;
      width: 100%;
      }
    </style>

    <div class="row">
        <a href="~/Timetable">
            <button><h1>Lukkari</h1></button>
        </a>
    </div>
    <div class="row">
    <a href="Food">
            <button><h1>Ruoka</h1></button>
        </a>
    </div>